[submodule "timer-hugo"]
	path = timer-hugo
	url = https://github.com/themefisher/timer-hugo.git
[submodule "themes/timer-hugo"]
	path = themes/timer-hugo
	url = https://github.com/themefisher/timer-hugo.git
[submodule "themes/hugo-nederburg-theme"]
	path = themes/hugo-nederburg-theme
	url = https://github.com/appernetic/hugo-nederburg-theme.git
[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/liuzc/LeaveIt.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "hugo-casper-two"]
	path = hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
